{{ form_start(form) }}
    {{ form_widget(form) }}
    {% if app.request.attributes.get('_route') == 'admin_characters_edit' %}
        {% for image in character.images %}
        <h3>Images</h3>
            <div>
                <img src="{{ asset('uploads/' ~ image.name) }}" width="150px" alt="">
                <a class="btr" href="{{ path('DeleteCharaImage', {id: image.id})}}" data-delete data-token="{{csrf_token('delete' ~ image.id) }}">Supprimer l'image</a>
            </div>
            {% endfor %}
        {% endif %}
    <button class="btg">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
