{{ form_start(form) }}
    {{ form_widget(form) }}
    {% if app.request.attributes.get('_route') == 'lms_edit' %}
    <h3>Images</h3>
    {% for image in l_m.images %}
        <img src="{{ asset('uploads/' ~ image.name) }}" width="150px" alt="">
        <a href="{{ path('DeleteCoverLM', {id: image.id})}}" data-delete data-token="{{csrf_token('delete' ~ image.id) }}">Supprimer l'image</a>
    {% endfor %}
        
    {% endif %}
    <button class="btg">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
